* { box-sizing: border-box;
}
body {
font-family: Open Sans;	
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
header{
  background: #313234;
  padding: 5px;
  height: 150px
}
nav a img {
  display: block;
  padding: 5px 0;
  }
nav > a {
  float: left;
}
ul{
  position: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li{
  display: inline-block;
  float: right;
  padding: 10px;
}
nav ul li a {
  color: white;
  position: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
}
nav:after{
  content: "";
  clear: both;
  display: block;
}
.hero {
  max-width: 1200px;
  margin: 0 auto;	
}
.slogan {
  height: 400px;
  max-width: 1200px
  float: right;
  padding-left: 50px;
  padding-top: 250px;
  color: rgba(0,0,0, 0.5);
  text-transform: uppercase;
  background-image: url('https://kodilla.com/static/bootcamp/jumbotron.jpg')
   
 }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;
}
/*mozliwosc przesuwania kolum*/
.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;
}
.row{
	width: 100%;
}
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}
[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 12px;
}
.3elementy {
    margin: 0 auto;
	width: 600px;
	text-align: center;
	padding: 50px;	
}
button {
	margin: 8px;
	width: 80px;
	height: 80px;
	border: 1px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 40px;
	border-width: 60px;
}
section>.container {
	margin: 50px auto;
}
.bell {
	color: #4099FF;
}
.car {
	color: #FF6900;
}
.wrench {
	color: black;
}
.container, .row, h1 {
	text-align: center;
}
.col-12, h4 {
	margin-top: 0px;
}
.galery img {
	display: block;
	width: 100%;
}
.galery-item:hover .buttons {
	display: block;
	}
.galery-item .buttons {
	display: none;
	}
.galery-item {
	position: relative;
}
.buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
.galery [class^="col-"]{
	padding: 0
	}	
.team img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.promo .row .col-4 {
	margin-top: 150px;	
}
.row h2 {
text-align: left;	
}
.promo p {
	text-align: justify;
}
.numbers h2 {
    margin: 0 auto;
	text-align: center;
	padding: 0px;	
}
.numbers p {
	color: #4099FF;
	text-transform: uppercase;
	font-weight: bold;
}
footer { 
	background: silver; 
	border-style: solid;
}
